<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= selectedProduct.name %></title>
</head>
<body>
    <h2><%= selectedProduct.name %></h2>
    <ul>
        <li>   
            <p>Price: $<%= selectedProduct.price %></p>
        </li>
        <li>
            <p>Category: <%= selectedProduct.category %></p>
        </li>
    </ul>
    <a href="/products/<%= selectedProduct._id %>/edit">EDIT ITEM</a>
    <br>
    <a href="/products">BACK TO PRODUCTS</a>
</body>
</html>